<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
<link rel="stylesheet" href="/public/Style.css" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet" />

<div class="fundo-pedido">
<div class="img-listagem">
    <h1 class="titulo-sv">
        Veja aqui nossos serviços marcados
    </h1>

    <h3 class="subtitulo-sv">
        Fique de olho no seu pedido!
    </h3>
    <img src="/public/Img/divisao1.svg" style="width: 100%; height: 120px; position: absolute; left: 0; bottom: 0;" />
</div>

<h1 class="introfunc">
    Nossas reservas
    <p><img src="/public/Img/iconeLinha.png" style="width: 40px; height: 40px" /></p>
</h1>

<% for (let i = 0; i < limpezas.length; i++) { %>
<div>

	<h2>
		<%= limpezas[i].nome %>
	</h2>

	<p>
		Telefone: <%= limpezas[i].telefone %>
	</p>

	<p>
		Endereço: <%= limpezas[i].endereco %>
	</p>

    <p>
		Complemento: <%= limpezas[i].complemento %>
	</p>
    
    <p>
		Nm de Garrafas: <%= limpezas[i].garrafas %>
	</p>

    <p>
		Data: <%= limpezas[i].data %>
	</p>

    <p>
	    Plano: <%= limpezas[i].plano %>
	</p>

	<hr />

</div>
<% } %>




<div class="background-contacts">
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col contact">
                <h4 class="titulo-ressaclean">
                    <span><i class="fas fa-broom"></i> Ressaclean</span>
                </h4>
                <ul>
                    <p>A melhor empresa de limpeza</p>
                    <li><i class="fas fa-phone"></i> (11) 99999-9999</li>
                    <li><i class="far fa-envelope"></i> Ressaclean@gmail.com</li>
                    <li>
                        <i class="fas fa-search-location"></i> 250 St Kilda Road, Melboume VIC 3004, Australia
                    </li>
                </ul>
            </div>
            <div class="col contact">
                <ul>
                    <h6 class="link"><span>Links</span></h6>
                    <li><i class="fas fa-home"></i> Home</li>
                    <li><i class="far fa-question-circle"></i> Sobre</li>
                    <li><i class="fas fa-landmark"></i> Historia da empresa</li>
                </ul>
            </div>
            <div class="col contact">
                <ul>
                    <h6><span class="suporte">Suporte</span></h6>
                    <li><i class="far fa-comments"></i> Feedbacks</li>
                    <li><i class="fas fa-phone-volume"></i> Contate-nos</li>
                    <li><i class="fas fa-briefcase"></i> Trabalhe conosco</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copy">
    <p>Copyright &copy; 2021 Ressaclean</p>
</div>
    